/* Add some basic styling to the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

/* Style the back button */
.circle {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #293242;
  color: #fff;
  text-align: center;
}

/* Style the page heading */
h1 {
  text-align: center;
  margin-top: 60px;
  color: #293242;
  font-size: 36px
}

/* Style the form */
form {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

.form-group {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px
}

label {
  color: #916848;
  font-size: 24px;
  margin-left: 20px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  flex-basis: 70%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1)
}

.submit-button {
  text-align: center;
  margin-top: 20px
}

input[type="submit"] {
  padding: 12px 20px;
  background-color: #293242;
  color: #EEEEEE;
  border-radius: 5px;
  border: none;
  cursor: pointer
}


/* Add this to your ct-index.css file */

/* For screens larger than 1200px */
@media (min-width :1200px) {
  h1 {
    font-size: 36px;
  }
}

/* For screens between 992px and 1199px */
@media (min-width :992px) and (max-width :1199px) {
  h1 {
    font-size: 30px;
  }
}

/* For screens between 768px and 991px */
@media (min-width :768px) and (max-width :991px) {
  h1 {
    font-size: 24px;
  }
}

/* For screens smaller than 767px */
@media (max-width :767px) {
  h1 {
    font-size: 24px;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: 1px;
    ;

  }

  input[type="text"],
  input[type="number"],
  input[type="email"] {
    width: 100%
  }
}