body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #EDEDED;
}

main {
  display: flex;
  width: 100%;
}

nav {
  width: 50%;
  background-color: #293242;
  height: 100%;
}

.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.sidebar li {
  box-sizing: border-box;
  margin: 10px;
  background-color: #EEEEEE;
  color: #916848;
  border: 1px solid #916848;
  border-radius: 5px;
  /* width: calc(50% - 20px); */
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #916848;
  padding: 0 1rem;
}

.logo-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}








form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

form input[type="text"],
form textarea {
  width: 100%;
}

form input[type="file"] {
  display: none;
}

form label {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  form input[type="text"],
  form textarea {
    width: 49%;
  }
}

@media screen and (min-width: 1200px) {
  form input[type="text"],
  form textarea {
    width: 32%;
  }
}
